<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta http-equiv="x-ua-compatible" content="ie=edge, chrome=1" />
  <title>d3fc - aggregated view</title>
  <link rel="stylesheet" href="style/frameworks.css" />
  <link rel="stylesheet" href="style/github.css" />
  <link rel="stylesheet" href="style/site.css" />
  <style>
  @media (min-width: 1200px) {
    .container {
      width: 750px;
     }

    .container > div {
      margin-bottom: 20px;
    }
  }
  </style>
</head>
<body class='container'>
  {{ content }}
</body>
</html>
